RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^evento$ evento.php [QSA,L]

RewriteRule ^utente$ evento.php [QSA,L]

RewriteRule ^backend$ evento.php [QSA,L]

RewriteRule ^hashtag/([a-z]+)$ evento.php?hashtag=$1 [QSA,L]

RewriteRule ^iscrizione$ evento.php [QSA,L]

RewriteRule ^notifica$ evento.php [QSA,L]

RewriteRule ^evento/([0-9]+)$ evento.php?id=$1 [QSA,L]